.navbar-custom {
        background-color: rgb(252, 239, 242);
        border-bottom: 5px solid rgb(255, 194, 219);
}



nav .nav-item .nav-link {
        color: rgb(205, 13, 93);
        text-decoration: none;
}


nav .nav-item {
        background-color:  transparent;
        transition: 0.1s linear;
        margin: 0px;
        border-radius: 10px;
}

nav .nav-item:hover {
        background-color:  rgb(205, 13, 93) ;
        transition: all 0.2s linear;
}

nav .nav-item:hover .nav-link{
        color: white;
        transition: 0.2s linear;
}

nav .nav .btn-default {
        
        color: rgb(205, 13, 93);
        border: 2px solid rgb(205, 13, 93);
        transition: all 0.1s linear;
}

nav .nav .btn-default:hover, .nav .btn-default:active:focus{
        background-color:  rgb(205, 13, 93);
        color: white;
        border: 2px solid rgb(205, 13, 93);
        transition: all 0.2s linear;
}

nav .nav .form-control {
        box-shadow: none;
}


@keyframes welcome_move{
        
        from{
                transform: translateX(-50%);
                opacity: 0;
                
        } to {
                transform: translateX(0%);
                opacity: 1;
        }
}

.header-box{
        height: 100vh;
}

.welcome {
        
        font-size: max(10vmin, 20px);
        text-shadow: 3px 3px 3px rgb(181, 179, 179);
        animation: welcome_move 1.5s -0.2s ease forwards;

}

.info{
        font-size: max(4vmin, 15px);
        text-shadow: 2px 2px 2px rgb(224, 223, 223);
        animation: welcome_move 1.5s ease forwards;
}

.About-me {
        font-size: max(2.4vmin, 12px);
        animation: welcome_move 1.5s ease forwards;
}

@keyframes wiggle
{
        0% { transform: translateX(0px); } 
       
        30% { transform: translateX(5px) translateY(20px); } 
         
        70% { transform: translateX(20px) translateY(-7px); }
        
        /*100% { transform: translateX(0%); }*/
}


.portrait {
        width: 45%;
        height: 100vh;
        
        background-color: rgb(46, 46, 46);
        border-radius: 50% 0px 0px 50%;
}

.ball{
        width: 15vmax;
        height: 15vmax;
        border-radius: 50%;
        bottom: 5vh;
        right: 17vw;
        background-color: black;
        content: normal;
        position:absolute;
        animation: wiggle 7s ease infinite;
}

.About-Me-card {
        /*box-shadow: 5px 5px 5px rgba(135, 43, 81, 0.613);*/
        
 border-radius: 5px;
        
 box-shadow: 5px 5px 5px rgba(135, 43, 81, 0.613);
        height: fit-content;
        
        align-self: start;
}


.About-Me-header {
        background-color: rgb(254, 220, 229);
        border: 3px solid pink;
        border-radius: 5px 5px 0 0;
}

.About-me-words {
        background-color: rgb(244, 244, 244);
        border: 3px solid rgb(232, 231, 231);
        border-top: 0;
        border-radius: 0 0 5px 5px;
}


footer {
        background-color: rgb(233, 97, 154);
        border-top: 3px solid pink;
}

footer h3{
        color: white;

}

footer ul .nav-link {
        text-decoration: none;
        color: white;
}

footer ul .nav-link:hover {
        
        color: black;
}